.bg-color {
    overflow-y: scroll;
}
.landingWrapper {
    display: flex;
    padding-top: 7rem;
    flex-direction: column;
    margin: 0 auto;
    width:60%;
    margin-bottom: 100px;
}
.landing {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    margin: 0 auto;
    border: 1px solid rgb(63, 63, 63);
    padding: 5px;
    background: rgba(40,44,52, 1);
    background: -webkit-linear-gradient(0deg,  #1a1a22 0%,  rgba(40,44,52, 1)50%);
    background: linear-gradient(0deg,  #1a1a22 0%, rgba(40,44,52, 1)50%); 
    -webkit-box-shadow: inset -1px 3px 3px 3px rgb(63, 63, 63), 2px 5px 16px 0px #0B325E, 0px 4px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 3px 3px rgb(63, 63, 63), 2px 5px 16px 0px #0B325E, 0px 4px 15px 5px rgba(0,0,0,0);
}
.landingTop {
    display: flex;
    flex-direction: row;
    width: 100%;
    background:linear-gradient(rgba(40,44,52, 0.5), rgba(40,44,52, 1)), url('../../images/bg.gif');
    background-repeat: no-repeat;
    background-size:fill;
    background-position: center;
    border-radius: 15px;
    align-items: center;
    justify-content: flex-start;
    border: none;
}
.landingTopLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}
.landingTopRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}
.avatar {
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    height: 200px;
    width: 200px;
    margin: 20px;
    margin-right: 3rem;
    margin-left: 3rem;
    border: 1px solid grey;
}
.titleName {
    margin-bottom: 10px;
    margin-top: 8px;
}
.titleDev {
    justify-self:flex-start;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.3rem;
    margin-bottom: 16px;
    color: white !important;
}
.titleDev > i {
    font-size: 1.3rem;
}
.skillsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.socialWrapper > a:hover {
    cursor: pointer !important;
}
.socialWrapper > a {
    text-decoration: none;
}
.skillsWrapper hr {
    width: 50%;
}
.skillsTitle {
    margin-bottom: 5px;
}
.landingBottom {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: none;
}
.skillsIconWrapper {
    font-size: 3rem;
}
.fa-database {
    font-size: 2.8rem;
}
.fa-html5, .fa-js-square, .fa-react, .fa-node-js, .fa-bootstrap, .fa-database {
    margin-left: 34px;
    margin-right: 34px;
}
.fa-university, .fa-map-marker-alt, .fa-envelope, .fa-phone-alt {
    font-size: 15px;
    margin-right: 15px;
    margin-left: 0;
}
.fa-html5{
    color: orangered;
}
.fa-js-square{
    color: rgb(255, 238, 0);
}
.fa-react {
    color: rgb(54, 171, 243);
}
.fa-node-js{
    color: rgb(77, 189, 77);
}
.fa-bootstrap{
    color: rgb(206, 12, 206);
}
.fa-database{
    color: lightgrey;
}
.socialWrapper {
    font-size: 4rem;
}
.fa-github, .fa-linkedin, .fa-free-code-camp {
    color: darkgrey;
    margin: 25px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}
.fa-github:hover {
    color: white;
    transform: scale(1.07);
}
.fa-linkedin:hover {
    color: #0e76a8;
    transform: scale(1.07);
}
.fa-free-code-camp:hover {
    color: #3949ab;
    transform: scale(1.07);
}

@media (max-width: 1030px){
    .landingWrapper {
        width: 70%;
    }
}
@media (max-width: 770px){
    .landingWrapper {
        padding-top: 50px;
        margin-right: 40px;
        width: 80%;
        margin-bottom: 70px;
    }
    .titleName {
        font-size: 2.5rem;
    }
    .titleDev {
        font-size: 1rem;
    }
    .titleDev > i {
        font-size: 1rem;
    }
    .skillsIconWrapper {
        font-size: 2rem;
    }
    .fa-database {
        font-size: 2rem;
    }
    .skills {
        font-size: 0.75rem;
    }
    .fa-html5, .fa-js-square, .fa-react, .fa-node-js, .fa-bootstrap, .fa-database {
        margin-left: 33px;
        margin-right: 33px;
    }
    .socialWrapper {
        font-size: 3rem;
    }
    .avatar {
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 430px){
    .landingWrapper {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .avatar {
        margin-left: 1rem;
        margin-right: 1.5rem;
        width: 100px;
        height: 100px;
    }
    .titleName {
        font-size: 1.7rem;
        margin-bottom: 5px;
    }
    .titleDev {
        font-size: 0.7rem;
        margin-bottom: 5px;
    }
    .titleDev > i {
        font-size: 0.7rem;
    }
    .skillsIconWrapper {
        font-size: 1rem;
    }
    .fa-database {
        font-size: 1rem;
    }
    .skillsTitle {
        font-size: 1.5rem;
    }
    .skills {
        font-size: 0.47rem;
    }
    .fa-html5, .fa-js-square, .fa-react, .fa-node-js, .fa-bootstrap, .fa-database {
        margin-left: 22px;
        margin-right: 22px;
    }
    .socialWrapper {
        font-size: 2rem;
    }
    .fa-university, .fa-map-marker-alt, .fa-envelope, .fa-phone-alt {
        font-size: 12px;
        margin-right: 15px;
        margin-left: 0;
    }
    .fa-github, .fa-linkedin, .fa-free-code-camp {
        margin: 25px;
        margin-top: 10px;
        margin-bottom: 0;
    }
}
@media (max-width: 380px){
    .landingWrapper {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .landingTop {
        flex-direction: column;
        background:linear-gradient(rgba(40,44,52, 0.4), rgba(38,41,49, 1)), url('../../images/bg.gif');
        background-repeat: no-repeat;
        background-size:fill;
        background-position: center;
    }
    .avatar {
        margin-left: 1rem;
        margin-right: 1.5rem;
        margin-bottom: 10px;
        width: 130px;
        height: 130px;
    }
    .titleName {
        font-size: 1.7rem;
        margin-bottom: 5px;
    }
    .titleDev {
        font-size: 0.7rem;
        margin-bottom: 5px;
    }
    .landingBottom {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .skillsIconWrapper {
        font-size: 1rem;
    }
    .fa-database {
        font-size: 0.9rem;
    }
    .skillsTitle {
        font-size: 1.3rem;
    }
    .skills {
        font-size: 0.415rem;
    }
    .fa-html5, .fa-js-square, .fa-react, .fa-node-js, .fa-bootstrap, .fa-database {
        margin-left: 18.5px;
        margin-right: 18.5px;
    }
    .socialWrapper {
        font-size: 2rem;
    }
    .fa-university, .fa-map-marker-alt, .fa-envelope, .fa-phone-alt {
        font-size: 12px;
        margin-right: 15px;
        margin-left: 0;
    }
    .fa-github, .fa-linkedin, .fa-free-code-camp {
        margin: 25px;
        margin-top: 10px;
        margin-bottom: 0;
    }
}
@media (max-width: 325px){
    .skillsIconWrapper {
        font-size: 1.3rem;
    }
    .fa-database {
        font-size: 1.2rem;
    }
    .skillsTitle {
        margin-top: 10px;
        font-size: 1.1rem;
    }
    .skills {
        font-size: 0.6rem;
    }
    .fa-html5, .fa-js-square, .fa-react, .fa-node-js, .fa-bootstrap, .fa-database {
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 8px;
    }
    .socialWrapper {
        font-size: 2rem;
    }
    .fa-university, .fa-map-marker-alt, .fa-envelope, .fa-phone-alt {
        font-size: 12px;
        margin-right: 15px;
        margin-left: 0;
    }
    .fa-github, .fa-linkedin, .fa-free-code-camp {
        margin: 25px;
        margin-top: 10px;
        margin-bottom: 0;
    }
}