<div class="section-container" id="about">
    <div class="section-left">
      <h2>{{strings.about}}</h2>
    </div>

    <div class="section-right">
      <div class="about-section-wrapper">
        <div class="section-title">
          <h1 [innerHTML]="strings.aboutSectionTitle"></h1>
          <p class="about-info">{{strings.aboutMeInfo}}</p>
        </div>
        <div class="about-section-content">
          <img src="assets/about/me.jpg" alt="Amir Kasumovic" class="about-image">
        </div>
      </div>
    </div>
  </div>
