@import '../../../variables.scss';

.about-section-wrapper {
  display: flex;
  flex-direction: row;
  color: black;
  width: 100%;

  .section-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;

    h1 {
      width: 100%;
    }
  }
}

.about-section-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: black;
  align-items: center;
  justify-content: space-between;
  width: 50%;

  // .about-image {
  //   width: 60%;
  //   object-fit: contain;
  //   height: auto;
  //   -webkit-transform: scaleX(-1);
  //   transform: scaleX(-1);
  //   filter: grayscale(1);
  //   border-radius: 50%;;
  // }


  .about-image {
    position: relative;
    width: 60%;
    height: auto;
    transform-origin: 50% 50%;
    transform: translateY(4px) scale(1, 1);
    transition: transform 0.2s ease-in;
  }

  .image {
    position: absolute;
    transform: scale(0.9, 0.9);
    transition: transform 0.2s ease-in;
  }
  .image:hover {
    transform: scale(1, 1);
  }

  .image:hover .image__foreground {
    transform: translateY(-7px) scale(1.05, 1.05);
  }
}

@media (max-width: 1920px) {

}

@media (max-width: 1550px) {

}
