@import '../../../variables.scss';

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 20px;
  font-weight: 600;
  font-size: 1.4rem;

  .footer-navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 1.4rem;
    width: 100%;

    .footer-links-left {
      width: 33%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      color: $secondary_color;

      a {
        color: $secondary_color;
        text-decoration: none;
      }
    }

    .footer-links-right {
      width: 33%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      color: $secondary_color;

      a {
        color: $secondary_color;
        text-decoration: none;
      }
    }

    .footer-center {
      width: 33%;
      justify-content: center;
      text-align: center;
    }
  }

  h2 {
    margin: 0;
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
  }
}
