@import '../../../variables.scss';

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 20px;
  font-weight: 600;

  .footer-navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 1.4rem;
    width: 100%;

    .footer-links-left {
      width: 33%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      color: $secondary_color;

      a {
        color: $secondary_color;
        text-decoration: none;
      }

      button {
        font-family: 'Red Hat Display', sans-serif;
        color: $secondary_color;
        text-decoration: none;
        border: none;
        background: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 1.4rem;
        margin: 0;
        padding: 0;
        justify-self: flex-end;
        align-self: flex-end;
        text-align: end;
      }
    }

    .footer-links-right {
      width: 33%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      color: $secondary_color;

      a {
        color: $secondary_color;
        text-decoration: none;
      }

      button {
        font-family: 'Red Hat Display', sans-serif;
        color: $secondary_color;
        text-decoration: none;
        border: none;
        background: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 1.4rem;
        margin: 0;
        padding: 0;
        justify-self: flex-end;
        align-self: flex-end;
        text-align: end;
      }
    }

    .footer-center {
      width: 33%;
      justify-content: center;
      text-align: center;
    }
  }

  h1 {
    margin: 0;
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    a {
      margin: 15px;
      margin-bottom: 0;
      img {
        width: 50px;
      }
    }
  }
}


@media (max-width: 1024px) {
  footer {
    h2 {
      font-size: 5rem;
    }

    .footer-navigation{
      font-size: 1rem;
      .footer-links-left {
        width: 35%;
        button {
          font-size: 1rem;
        }
      }

      .footer-links-right {
        width: 35%;
        button {
          font-size: 1rem;
        }
      }

      .footer-center {
        width: 30%;
      }
    }
  }
}

@media (max-width: 770px) {
  footer {
    h2 {
      width: 70%;
      font-size: 3.5rem;
    }

    .footer-navigation{
      height: 100%;
      align-items: center;
      font-size: 1rem;
      .footer-links-left {
        flex-direction: column;
        align-items: flex-start;
        justify-self: center;
        justify-content: space-evenly;
        height: 100%;
        width: 30%;
        a {
          margin-bottom: 15px;
        }
        button {
          width: 100%;
          text-align: start;
          font-size: 1rem;
        }
      }

      .footer-links-right {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        justify-self: center;
        align-items: flex-end;
        height: 100%;
        width: 30%;
        a {
          margin-bottom: 15px;
        }
        button {
          width: 100%;
          font-size: 1rem;
        }
      }

      .footer-center {
        width: 40%;
      }
    }

    h1 {
      font-size: 2.5rem;
    }

    .social-icons {
      a {
        img {
          width: 30px;
        }
      }
    }
  }
}

@media (max-width: 426px) {
    footer {
    h2 {
      font-size: 2rem;
    }

    .footer-navigation{
      height: 100%;
      align-items: center;
      font-size: 1rem;
      .footer-links-left {
        flex-direction: column;
        align-items: flex-start;
        justify-self: center;
        justify-content: space-evenly;
        height: 100%;
        width: 30%;
        a {
          margin-bottom: 15px;
        }
        button {
          width: 100%;
          text-align: start;
          font-size: 1rem;
        }
      }

      .footer-links-right {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        justify-self: center;
        align-items: flex-end;
        height: 100%;
        width: 30%;
        a {
          margin-bottom: 15px;
        }
        button {
          width: 100%;
          font-size: 1rem;
        }
      }

      .footer-center {
        width: 40%;
      }
    }

    h1 {
      font-size: 1.5rem;
    }

    .social-icons {
    a {
      img {
        width: 30px;
      }
    }
  }
  }
}
