<nav>
  <div class="navbar-links-left">
    <a href="#work" class="navbar-link">Work</a>
    <a href="#!" class="navbar-link">Skills</a>
    <a href="#!" class="navbar-link">&lt; En &gt;</a>
  </div>
  <div class="navbar-center">
    <!-- <p class="navbar-about">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Amet qui molestiae labore cupiditate deserunt?
      Placeat odio, quo nihil fugit saepe, minus recusandae reiciendis
      totam praesentium ipsa nam soluta cupiditate illo.
    </p> -->
  </div>
  <div class="navbar-links-right">
    <a href="#!" class="navbar-link">&lt; Ba &gt;</a>
    <a href="#!" class="navbar-link">About</a>
    <a href="#!" class="navbar-link">Experience</a>
  </div>
</nav>
