@import '../../../variables.scss';

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 40px 20px;
  font-weight: 600;
  font-size: 1.4rem;

  .navbar-links-left {
    width: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    color: $primary_color;

    a {
      color: $primary_color;
      text-decoration: none;
    }
  }

  .navbar-links-right {
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: $primary_color;

    a {
      color: $primary_color;
      text-decoration: none;
    }
  }

  .navbar-center {
    width: 33%;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  nav {
    font-size: 1rem;
    .navbar-links-left {
      width: 35%;
    }

    .navbar-links-right {
      width: 35%;
    }

    .navbar-center {
      width: 30%;
    }
  }
}

@media (max-width: 426px) {
  nav {
    position: relative;
    z-index: 3;
    padding: 10px 10px;
    font-size: 1rem;
    align-items: center;
    .navbar-links-left {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 35%;
      height: 100%;
      a {
        margin-bottom: 10px;
      }
    }

    .navbar-links-right {
      flex-direction: column-reverse;
      flex-wrap: wrap-reverse;
      justify-content: space-between;
      align-items: flex-end;
      height: 100%;
      a {
        width: 100%;
        text-align: end;
        margin-bottom: 10px;
      }
    }

    .navbar-center {
      width: 30%;
    }
  }
}
