@import '../../../variables.scss';

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 40px 20px;
  font-weight: 600;
  font-size: 1.4rem;

  .navbar-links-left {
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: $primary_color;

    a {
      color: $primary_color;
      text-decoration: none;
    }
  }

  .navbar-links-right {
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: $primary_color;

    a {
      color: $primary_color;
      text-decoration: none;
    }
  }

  .navbar-center {
    width: 33%;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  nav {
    font-size: 1rem;
    .navbar-links-left {
      width: 35%;
    }

    .navbar-links-right {
      width: 35%;
    }

    .navbar-center {
      width: 30%;
    }
  }
}
