.bg-color {
    overflow-y: scroll;
}
.wrapper {
    display: flex;
    padding-top: 7rem;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 100px;
}
.resume {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    margin: 0 auto;
    border: 1px solid rgb(63, 63, 63);
    padding: 25px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: rgba(40,44,52, 1);
    background: -webkit-linear-gradient(0deg,  #1a1a22 0%,  rgba(40,44,52, 1)50%);
    background: linear-gradient(0deg,  #1a1a22 0%, rgba(40,44,52, 1)50%); 
    -webkit-box-shadow: inset -1px 3px 3px 3px rgb(63, 63, 63), 2px 5px 16px 0px #0B325E, 0px 4px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 3px 3px rgb(63, 63, 63), 2px 5px 16px 0px #0B325E, 0px 4px 15px 5px rgba(0,0,0,0);
    /* align-items: center; */
    justify-content: space-between;
}
.resumeLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    /* margin-left: 2px; */
    /* margin-top: 6px; */
    border-radius: 10px;
    background: rgba(40,44,52, 1);
    background: -webkit-linear-gradient(0deg,  #1a1a22 0%,rgba(40,44,52, 1)50%,  rgba(13, 131, 131, 0.2)100%);
    background: linear-gradient(0deg,  #1a1a22 0%,rgba(40,44,52, 1)50%, rgba(17, 190, 190, 0.2)100%); 
}
.resumeTitle {
    justify-content: flex-start;
    align-items: left;
    text-align: left;
    color: aqua;
}
.resumeInfoName {
    align-self: left;
}
.resumeInfo {
    font-size: 1rem;
}
.fas, .far {
    color: rgb(17, 190, 190);
}
.resumeRight {
    margin-top: 25px;
}