<router-outlet></router-outlet>
<app-navbar class="navbar" (setTranslationEvent)="setTranslation($event)" [strings]="strings"></app-navbar>

<div class="banner-about">
  <app-empty-tag class="three-tag"></app-empty-tag>
  <p>
    {{strings.bannerAbout}}
  </p>

  <div class="banner-buttons">
    <a href="#!">{{strings.aboutMe}}</a>
    <button type="button">{{strings.contactMe}}</button>
  </div>
</div>
<!-- PARALLAX -->
<h1 appParallax [ratio]="-0.22" class="name-title">
AMIR KASUMOVIĆ
</h1>

<div class="content-container">
  <!-- PORTFOLIO -->
  <app-work [strings]="strings"></app-work>

  <!-- SKILLS -->
  <app-skills [strings]="strings"></app-skills>

  <!-- CERTIFICATES -->
  <app-certificates (viewCertificateEvent)="showCertificate($event)" [strings]="strings"></app-certificates>

  <!-- ABOUT ME -->
  <app-about [strings]="strings"></app-about>
</div>


<!-- MODALS -->
<div class="blur"></div>

<div class="modal" id="certificateModal">
  <button type="button" class="close-btn" (click)="hideCertificate()">X</button>
  <img class="certificate-image" src="" alt="Certificate image">
</div>

<div class="contact-me-btn">{{strings.contactMe}}</div>
