<router-outlet></router-outlet>
<app-navbar class="navbar"></app-navbar>

<div class="banner-about">
  <app-empty-tag class="three-tag"></app-empty-tag>
  <p>
    I am a Bachelor of Information Technologies with several years of
    experience working as a full stack web developer. Until now, I have
    put a lot of effort in almost each part of IT because I am still
    craving for knowledge. Now, even more than ever, I want to leave
    a mark in this industry. I am still learning and collecting knowledge
    through work and always seeking new ways to implement my knowledge.
  </p>

  <div class="banner-buttons">
    <a href="#!">About me</a>
    <button type="button">Contact me</button>
  </div>
</div>
<!-- PARALLAX -->
<h1 appParallax [ratio]="-0.22" class="name-title">
AMIR KASUMOVIĆ
</h1>

<div class="content-container">
  <!-- PORTFOLIO -->
  <app-work></app-work>

  <!-- SKILLS -->
  <app-skills></app-skills>

  <!-- CERTIFICATES -->
  <app-certificates (viewCertificateEvent)="showCertificate($event)"></app-certificates>
</div>


<!-- MODALS -->
<div class="blur"></div>

<div class="modal" id="certificateModal">
  <button type="button" class="close-btn" (click)="hideCertificate()">X</button>
  <img class="certificate-image" src="" alt="Certificate image">
</div>

<div class="contact-me-btn">CONTACT ME</div>
