<router-outlet></router-outlet>
<app-navbar class="navbar" (setTranslationEvent)="setTranslation($event)" [strings]="strings"></app-navbar>

<div class="banner-about">
  <app-empty-tag class="three-tag"></app-empty-tag>
  <p>
    {{strings.bannerAbout}}
  </p>

  <div class="banner-buttons">
    <a href="#about">{{strings.aboutMe}}</a>
    <button type="button">{{strings.contactMe}}</button>
  </div>
</div>
<!-- PARALLAX -->
<h1 appParallax [ratio]="-0.22" class="name-title">
AMIR KASUMOVIĆ
</h1>

<div class="content-container">

  <!-- ABOUT ME -->
  <app-about [strings]="strings"></app-about>

  <!-- PORTFOLIO -->
  <app-work [strings]="strings"></app-work>

  <!-- SKILLS -->
  <app-skills [strings]="strings"></app-skills>

  <!-- EXPERIENCE -->
  <app-experience (viewExperienceEvent)="showExperience($event)" [strings]="strings"></app-experience>

  <!-- EDUCATION -->
  <app-education [strings]="strings"></app-education>

  <!-- CERTIFICATES -->
  <app-certificates (viewCertificateEvent)="showCertificate($event)" [strings]="strings"></app-certificates>

</div>


<!-- MODALS -->
<div class="blur"></div>

<!-- EXPERIENCE MODAL -->
<div class="modal experience" id="experienceModal">
  <button type="button" class="close-btn" (click)="hideExperience()">X</button>
</div>

<!-- CERTIFICATE MODAL -->
<div class="modal" id="certificateModal">
  <button type="button" class="close-btn" (click)="hideCertificate()">X</button>
  <img class="certificate-image" src="" alt="Certificate image">
</div>

<div class="contact-me-btn">{{strings.contactMe}}</div>

<!-- CONTACT -->
<div class="contact-form">
  <form
    action="https://formspree.io/f/myyldape"
    method="POST">
    <label>
      Your email:
      <input type="email" name="email">
    </label>
    <label>
      Your message:
      <textarea name="message"></textarea>
    </label>
    <!-- your other form fields go here -->
    <button type="submit">Send</button>
  </form>
</div>
