.mdl-layout__drawer {
    background-color: #2e2e2e !important;
    border: none !important;
}
.mdl-layout__drawer .is-visible{
    color: white !important;
}
.mdl-layout__drawer > .mdl-navigation >.mdl-navigation__link:hover {
    background: #333333 !important;
}
.mdl-layout__drawer > .mdl-navigation > .mdl-navigation__link {
    color: #b6b6b6 !important;
}
