<div class="section-container" id="education">
  <div class="section-left">
    <h2>{{strings.education}}</h2>
  </div>

  <div class="section-right">
    <div class="education-section-wrapper">
      <div class="section-title">
        <h1 [innerHTML]="strings.educationSectionTitle"></h1>
        <div class="education-card">
          <div class="bulletpoint"></div>
          <div>
            <h2>Engineer of Information Technologies</h2>
            <p>American University in Bosnia and Herzegovina</p>
          </div>
        </div>
        <div class="education-card">
          <div class="bulletpoint"></div>
          <div>
            <h2>Mechanical High School</h2>
            <p>High school "Banovići"</p>
          </div>
        </div>
      </div>
      <div class="education-section-content">
        <img src="assets/education.png" alt="Book">
      </div>
    </div>
  </div>
</div>

