<div class="section-container" id="education">
  <div class="section-left">
    <h2>{{strings.education}}</h2>
  </div>

  <div class="section-right">
    <div class="education-section-wrapper">
      <div class="section-title">
        <h1 [innerHTML]="strings.educationSectionTitle"></h1>
        <div class="section-subtitle">
            <p>{{strings.educationSectionSubtitle}}</p>
          </div>
      </div>
      <div class="education-section-content">

      </div>
    </div>
  </div>
</div>

