<div class="section-container" id="skills">
    <div class="section-left">
      <h2>Skills</h2>
    </div>

    <div class="section-right">
      <div class="skills-section-wrapper">
        <div class="section-title">
          <h1 [innerHTML]="strings.skillsSectionTitle"><span>Mastered</span> skills</h1>
          <div class="section-subtitle">
            <p>{{strings.skillsSectionSubtitle}}</p>
            <img class="mouse-drag" src="assets/drag-icon.webp" alt="Mouse drag icon">
          </div>
        </div>
        <div class="skills-section-content">
          <div class="horizontal-line"></div>
          <div class="skills-card">
            <img src="assets/skills/react.png" alt="React logo" class="skill-logo">
            <h1>React</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea aliquam blanditiis adipisci exercitationem ipsam itaque ex facilis deserunt voluptate. Totam maxime eveniet sint quod deleniti consectetur officiis nesciunt necessitatibus reprehenderit!</p>
          </div>
          <div class="skills-card">
            <img src="assets/skills/angular.png" alt="Angular logo" class="skill-logo">
            <h1>Angular</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, sint. Molestias sapiente error, fugit commodi omnis harum officiis ex earum odit at laboriosam a magni inventore quis necessitatibus sed quos.</p>
          </div>
          <div class="skills-card">
            <img src="assets/skills/laravel.png" alt="Laravel logo" class="skill-logo">
            <h1>Laravel</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, sint. Molestias sapiente error, fugit commodi omnis harum officiis ex earum odit at laboriosam a magni inventore quis necessitatibus sed quos.</p>
          </div>
          <div class="skills-card">
            <img src="assets/skills/net.png" alt=".Net logo" class="skill-logo">
            <h1>.NET</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, sint. Molestias sapiente error, fugit commodi omnis harum officiis ex earum odit at laboriosam a magni inventore quis necessitatibus sed quos.</p>
          </div>
          <div class="skills-card">
            <img src="assets/skills/react-native.webp" alt="React Native logo" class="skill-logo">
            <h1>React Native</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, sint. Molestias sapiente error, fugit commodi omnis harum officiis ex earum odit at laboriosam a magni inventore quis necessitatibus sed quos.</p>
          </div>
          <div class="skills-card">
            <img src="assets/skills/typescript.png" alt="Typescript logo" class="skill-logo">
            <h1>TypeScript</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, sint. Molestias sapiente error, fugit commodi omnis harum officiis ex earum odit at laboriosam a magni inventore quis necessitatibus sed quos.</p>
          </div>
          <div class="skills-card">
            <img src="assets/skills/php.png" alt="PHP logo" class="skill-logo">
            <h1>PHP</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, sint. Molestias sapiente error, fugit commodi omnis harum officiis ex earum odit at laboriosam a magni inventore quis necessitatibus sed quos.</p>
          </div>
          <div class="skills-card">
            <img src="assets/skills/mysql.png" alt="MySQL logo" class="skill-logo">
            <h1>MySQL</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, sint. Molestias sapiente error, fugit commodi omnis harum officiis ex earum odit at laboriosam a magni inventore quis necessitatibus sed quos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
