<div class="section-container">
    <div class="section-left">
      <h2>Skills</h2>
    </div>

    <div class="section-right">
      <div class="skills-section-wrapper">
        <div class="section-title">
          <h1><span>Mastered</span> skills</h1>
        </div>
        <div class="skills-section-content">
          <div class="skills-card">
            <img src="assets/skills/react.png" alt="React logo" class="skill-logo">
            <h1>React</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea aliquam blanditiis adipisci exercitationem ipsam itaque ex facilis deserunt voluptate. Totam maxime eveniet sint quod deleniti consectetur officiis nesciunt necessitatibus reprehenderit!</p>
          </div>
          <div class="skills-card">
            <img src="assets/skills/angular.png" alt="Angular logo" class="skill-logo">
            <h1>Angular</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, sint. Molestias sapiente error, fugit commodi omnis harum officiis ex earum odit at laboriosam a magni inventore quis necessitatibus sed quos.</p>
          </div>
          <div class="skills-card">
            <img src="assets/skills/php.png" alt="PHP logo" class="skill-logo">
            <h1>PHP</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, sint. Molestias sapiente error, fugit commodi omnis harum officiis ex earum odit at laboriosam a magni inventore quis necessitatibus sed quos.</p>
          </div>
          <div class="skills-card">
            <img src="assets/skills/net.png" alt=".Net logo" class="skill-logo">
            <h1>.NET</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, sint. Molestias sapiente error, fugit commodi omnis harum officiis ex earum odit at laboriosam a magni inventore quis necessitatibus sed quos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
