@font-face {
  font-family: 'Anton';
  src: url('assets/fonts/Anton/Anton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('assets/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import './variables.scss';

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: $secondary_color;
  height: 200vh;
  margin: 0;
}

.three-tag {
  width: auto;
  margin-bottom: 25px;
}

.navbar {
  width: 100%;
}

.name-title{
  position: fixed;
  top: 60vh;
  margin: 0;
  z-index: -1;
  width: 100%;
  text-align: center;
  color: $primary_color;
  background-color: $secondary_color;
  font-size: 23rem;
  font-family: 'Anton', sans-serif;
  transform: scaleY(2);
}

.banner-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: -50px;

  p {
    width: 30%;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 50px;
  }

  .banner-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    margin-top: 50px;

    a {
      text-decoration: none;
      color: $primary_color;
      border: 2px solid $primary_color;
      border-radius: 30px;
      background-color: $secondary_color;
      padding: 15px 25px;
      font-weight: 600;
      font-size: 1.2rem;
    }

    button {
      text-decoration: none;
      outline: none;
      color: $secondary_color;
      border: 2px solid $primary_color;
      border-radius: 30px;
      background-color: $primary_color;
      padding: 15px 25px;
      font-weight: 600;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  background-color: $primary_color;
  color: $secondary_color;
  margin-top: 90vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  filter: drop-shadow(0px 1px 100px $secondary_color);
  padding: 0;
  padding-top: 250px;
}

.section-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 300px;
  padding-left: 100px;
}

.section-left {
  width: 15%;

  h2 {
    font-size: 1.6rem;
    font-weight: 400;
  }
}

.section-right {
  width: 85%;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  padding-right: 50px;

  .section-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    font-size: 0.8rem;
    font-weight: 100;
    padding: 25px;

    .mouse-drag {
      width: 30px;
      height: auto;
      transition: drag;
      animation: drag 1s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
    }

    @keyframes drag {
      0% {
        margin-left: 0;
      }
      50% {
        margin-left: 10px;
      }
      100% {
        margin-left: 0;
      }
    }
  }

  h1 {
    margin-top: 0;
    font-size: 7rem;
    width: 65%;

    span {
      color: $accent_color;
    }
  }
  h2 {
    margin-top: 0;
    font-size: 6.9rem;
    width: 100%;

    span {
      color: $accent_color;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  right: -100vw;
  width: auto;
  height: 100vh;
  background-color: $primary_color;
  transition: all 0.4s;
  padding: 0 15px;
  border-left: 1px solid $secondary_color;
  z-index: 10;
  display: flex;

  &.experience {
    width: 50vw;
    min-height: 100vh;
    padding: 0 25px;

    .experience-content-wrapper {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;

      .experience-company-info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 25px;

        .experience-company-title {
          display: flex;
          flex-direction: column;
          align-items: baseline;
          justify-self: flex-start;

          h1 {
            font-size: 2.5rem;
          }

          p {
            font-weight: 400;
            font-size: 1.4rem;
          }
        }

        .experience-view-company {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          height: 100%;

          a {
            text-decoration: none;
            color: $primary_color;
            border: 2px solid $primary_color;
            border-radius: 30px;
            background-color: $secondary_color;
            padding: 15px 25px;
            font-weight: 600;
            font-size: 1.4rem;
            text-align: center;
          }
        }
      }

      li {
        margin-bottom: 25px;
      }
    }
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .experience-content-wrapper::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .experience-content-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  &.active {
    right: 0vw;
  }

  .close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary_color;
    top: 25px;
    left: -70px;
    width: 50px;
    height: 50px;
    z-index: 10;
    padding: 10px;
    font-size: 1.8rem;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }

  .certificate-image {
    align-self: center;
    margin: 0 auto;
    width: auto;
    height: 85%;
    object-fit: contain;
  }
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  z-index: -9;
  opacity: 0;
  transition: all 0.6s ease-in-out;

  &.active {
    z-index: 9;
    opacity: 1;
  }
}
.light-blur {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  z-index: -9;
  opacity: 0;
  transition: all 0.6s ease-in-out;

  &.active {
    z-index: 6;
    opacity: 1;
  }
}

.contact-me-btn {
  position: fixed;
  bottom: 3%;
  right: 2%;
  text-decoration: none;
  outline: none;
  color: $accent_color;
  border-radius: 30px;
  background-color: rgba($color: white, $alpha: 0.5);
  // background-color: $secondary_color;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  outline: none;
  border: 2px solid $accent_color;

  &.active {
    display: block;
    opacity: 1;
  }
}

.contact-form {
  position: fixed;
  bottom: -200vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: $secondary_color;
  border-radius: 30px;
  padding: 50px;
  color: $primary_color;
  transition: all 0.6s ease-in-out;

  form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    font-size: 1.4rem;

    h1 {
      justify-self: center;
      text-align: center;
      align-self: center;
    }
    h2 {
      font-size: 2.7rem;
      justify-self: center;
      text-align: center;
      align-self: center;
    }

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;

      input {
        background: none;
        color: $primary_color;
        border: none;
        border-bottom: 2px solid $primary_color;
        outline: none;
        font-size: 1.4rem;
        padding: 10px;
        margin-left: 15px;
      }

      &.message-label {
        align-items: flex-start;
        justify-content: flex-start;
      }

      textarea {
        background: none;
        color: $primary_color;
        border: none;
        border-bottom: 2px solid $primary_color;
        outline: none;
        font-size: 1.4rem;
        margin-left: 15px;
        align-self: flex-end;
        min-height: 100px;
      }
    }

    button {
      text-decoration: none;
      outline: none;
      color: $secondary_color;
      border: 2px solid $primary_color;
      border-radius: 30px;
      background-color: $primary_color;
      padding: 15px 25px;
      font-weight: 600;
      font-size: 1.4rem;
      cursor: pointer;
      align-self: center;
    }
  }

  &.active {
    z-index: 7;
    bottom: 10%;
  }

  .contact-form-close-btn {
    font-size: 2rem;
    outline: none;
    background: none;
    border: none;
    color: white;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
  }
}

footer {
  h2 {
    margin-top: 0;
    font-size: 7rem;
    width: 55%;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;

    span {
      color: $accent_color;
    }
  }
}
@media (max-width: 1920px) {
  .name-title{
    top: 60vh;
    font-size: 17rem;
    font-family: 'Anton', sans-serif;
    transform: scaleY(2);
  }

  .content-container {
    padding: 0;
    padding-top: 200px;
  }

  .banner-about {
    p {
      margin-top: 20px;
    }

    .banner-buttons {
      margin-top: 20px;
    }
  }
  .section-container {
    padding-left: 50px;
  }
}

@media (max-width: 1550px) {
  .name-title{
    top: 60vh;
    font-size: 14rem;
    font-family: 'Anton', sans-serif;
    transform: scaleY(2);
  }

  .content-container {
    padding: 0;
    padding-top: 200px;
  }

  .banner-about {
    margin-top: -80px;
    p {
      margin-top: -20px;
      font-size: 1rem;
    }

    .banner-buttons {
      margin-top: 10px;
    }
  }

  .section-container {
    margin-bottom: 200px;
    padding-left: 50px;
  }
}

@media (max-width: 1440px) {
  .name-title{
    font-size: 13rem;
  }
  .three-tag {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .content-container {
    margin-top: 50vh;
  }
  .name-title{
    font-size: 9rem;
  }

  .section-title {
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 5rem;
    }
  }


  .banner-about {
    p {
      font-size: 0.8rem;
      width: 35%;
      margin: 0;
    }

    .banner-buttons {
      justify-content: space-between;
      width: 35%;
      margin-top: 25px;

      button {
        font-size: 1rem;
        padding: 10px 20px;
      }

      a {
        font-size: 1rem;
        padding: 10px 20px;
      }
    }
  }

  .section-left {
    h2 {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 770px) {
  .banner-about {
    position: relative;
    z-index: 0;
    margin-top: -50px;
    p {
      width: 80%;
      font-size: 0.9rem;
      margin-top: 0px;
    }

    .banner-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 80%;
      margin-top: 25px;

      a {
        padding: 5px 15px;
        font-weight: 600;
        font-size: 0.9rem;
      }

      button {
        padding: 5px 15px;
        font-weight: 600;
        font-size: 0.9rem;
      }
    }
  }

  .content-container {
    margin-top: 46vh;
    padding-top: 70px;
  }
  .name-title{
    font-size: 7rem;
    width: 100vw;
    top: 60vh;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;

    .section-left {
      width: 100%;

      h2 {
        font-size: 1rem;
      }
    }
    .section-right {
      width: 100%;
    }
  }

  .section-title {
    flex-direction: column;
    width: 100%;
    padding: 0;
    h1 {
      width: 100%;
      font-size: 3.5rem;
    }
    h2 {
      width: 100%;
      font-size: 3.5rem;
    }
    .section-subtitle {
      padding: 0;
      width: 100%;
    }
  }

  .contact-me-btn {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    font-weight: 600;
    font-size: 0.9rem;
  }

  .contact-form {
    position: fixed;
    bottom: -200vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;

    form {
      font-size: 1rem;

      h1 {
        justify-self: center;
        text-align: center;
        align-self: center;
      }
      h2 {
        font-size: 2rem;
        justify-self: center;
        text-align: center;
        align-self: center;
      }

      label {
        margin-bottom: 25px;

        input {
          font-size: 1rem;
          padding: 10px;
          margin-left: 15px;
        }

        textarea {
          font-size: 1rem;
          margin-left: 15px;
          min-height: 50px;
        }
      }

      button {
        padding: 5px 15px;
        font-weight: 600;
        font-size: 0.9rem;
      }
    }

    &.active {
      bottom: 3%;
    }

    .contact-form-close-btn {
      font-size: 1.5rem;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    right: -200vw;
    width: 100vw;
    padding: 0;
    display: flex;

    &.experience {
      width: 100%;
      min-height: 100vh;
      padding: 0;
      .experience-content-wrapper {
        padding: 0 15px;
        .experience-company-info{
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: baseline;
          margin-bottom: 25px;

          .experience-company-title {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-self: flex-start;

            h1 {
              font-size: 2.5rem;
            }

            p {
              font-weight: 400;
              font-size: 1.4rem;
            }
          }

          .experience-view-company {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            height: 100%;

            a {
              padding: 10px 15px;
              font-weight: 600;
              font-size: 0.9rem;
            }
          }
        }

        li {
          margin-bottom: 25px;
        }
      }
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .experience-content-wrapper::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .experience-content-wrapper {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

    &.active {
      right: 0vw;
    }

    .close-btn {
      top: 10px;
      left: 10px;
      width: 20px;
      height: 20px;
      z-index: 10;
      padding: 10px;
      font-size: 1rem;
      color: $secondary_color;
      border: 2px solid $secondary_color;
      background: $primary_color;
      border-radius: 50%;
    }

    .certificate-image {
      justify-self: center;
      margin: 0 auto;
      width: 90%;
      height: 90%;
      object-fit: contain;
    }
  }
}


@media (max-width: 426px) {
  .banner-about {
    position: relative;
    z-index: 0;
    margin-top: -220px;
    p {
      width: 80%;
      font-size: 0.9rem;
      margin-top: -30px;
    }

    .banner-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 80%;
      margin-top: 25px;

      a {
        padding: 5px 15px;
        font-weight: 600;
        font-size: 0.9rem;
      }

      button {
        padding: 5px 15px;
        font-weight: 600;
        font-size: 0.9rem;
      }
    }
  }

  .content-container {
    margin-top: 40vh;
    padding-top: 70px;
  }
  .name-title{
    font-size: 2.5rem;
    width: 100vw;
    top: 66vh;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;

    .section-left {
      width: 100%;

      h2 {
        font-size: 1rem;
      }
    }
    .section-right {
      width: 100%;
    }
  }

  .section-title {
    flex-direction: column;
    width: 100%;
    padding: 0;
    h1 {
      width: 100%;
      font-size: 2rem;
    }
    h2 {
      width: 100%;
      font-size: 2rem;
    }
    .section-subtitle {
      padding: 0;
      width: 100%;
    }
  }

  .contact-me-btn {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    font-weight: 600;
    font-size: 0.9rem;
  }

  .contact-form {
    position: fixed;
    bottom: -200vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;

    form {
      font-size: 1rem;

      h1 {
        justify-self: center;
        text-align: center;
        align-self: center;
      }

      label {
        margin-bottom: 25px;

        input {
          font-size: 1rem;
          padding: 10px;
          margin-left: 15px;
        }

        textarea {
          font-size: 1rem;
          margin-left: 15px;
          min-height: 50px;
        }
      }

      button {
        padding: 5px 15px;
        font-weight: 600;
        font-size: 0.9rem;
      }
    }

    &.active {
      bottom: 3%;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    right: -200vw;
    width: 100vw;
    padding: 0;
    display: flex;

    &.experience {
      width: 100%;
      min-height: 100vh;
      padding: 0;
      .experience-content-wrapper {
        padding: 0 15px;
        .experience-company-info{
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: baseline;
          margin-bottom: 25px;

          .experience-company-title {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-self: flex-start;

            h1 {
              font-size: 2.5rem;
            }

            p {
              font-weight: 400;
              font-size: 1.4rem;
            }
          }

          .experience-view-company {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            height: 100%;

            a {
              padding: 10px 15px;
              font-weight: 600;
              font-size: 0.9rem;
            }
          }
        }

        li {
          margin-bottom: 25px;
        }
      }
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .experience-content-wrapper::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .experience-content-wrapper {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

    &.active {
      right: 0vw;
    }

    .close-btn {
      top: 10px;
      left: 10px;
      width: 20px;
      height: 20px;
      z-index: 10;
      padding: 10px;
      font-size: 1rem;
      color: $secondary_color;
      border: 2px solid $secondary_color;
      background: $primary_color;
      border-radius: 50%;
    }

    .certificate-image {
      justify-self: center;
      margin: 0 auto;
      width: 90%;
      height: auto;
      object-fit: contain;
    }
  }
}
