// Banner
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
// Main font
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stint+Ultra+Expanded&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './variables.scss';

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: black;
  height: 200vh;
  margin: 0;
}

.three-tag {
  width: auto;
  margin-bottom: 25px;
}

.navbar {
  width: 100%;
}

.name-title{
  position: fixed;
  top: 60vh;
  margin: 0;
  z-index: -1;
  width: 100%;
  text-align: center;
  color: $primary_color;
  background-color: black;
  font-size: 23rem;
  font-family: 'Anton', sans-serif;
  transform: scaleY(2);
}

.banner-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: -50px;

  p {
    width: 30%;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 50px;
  }

  .banner-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    margin-top: 50px;

    a {
      text-decoration: none;
      color: $primary_color;
      border: 2px solid $primary_color;
      border-radius: 30px;
      background-color: $secondary_color;
      padding: 15px 25px;
      font-weight: 600;
      font-size: 1.2rem;
    }

    button {
      text-decoration: none;
      outline: none;
      color: $secondary_color;
      border: 2px solid $primary_color;
      border-radius: 30px;
      background-color: $primary_color;
      padding: 15px 25px;
      font-weight: 600;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  background-color: $primary_color;
  color: $secondary_color;
  margin-top: 90vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  filter: drop-shadow(0px 1px 100px $secondary_color);
  padding: 250px 100px;
  padding-right: 0px;
}

.section-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 300px;
}

.section-left {
  width: 15%;

  h2 {
    font-size: 1.6rem;
    font-weight: 400;
  }
}

.section-right {
  width: 85%;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  padding-right: 50px;

  .section-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    font-size: 0.8rem;
    font-weight: 100;
    padding: 25px;

    .mouse-drag {
      width: 30px;
      height: auto;
      transition: drag;
      animation: drag 1s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
    }

    @keyframes drag {
      0% {
        margin-left: 0;
      }
      50% {
        margin-left: 10px;
      }
      100% {
        margin-left: 0;
      }
    }
  }

  h1 {
    margin-top: 0;
    font-size: 7rem;
    width: 65%;

    span {
      color: $accent_color;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  right: -100vw;
  width: auto;
  height: 100vh;
  background-color: $primary_color;
  transition: all 0.4s;
  padding: 15px;
  border-left: 1px solid $secondary_color;
  z-index: 10;

  &.experience {
    width: 50vw;
    height: auto;
    overflow-y: scroll;
  }

  &.active {
    right: 0vw;
  }

  .close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary_color;
    top: 25px;
    left: -70px;
    width: 50px;
    height: 50px;
    z-index: 10;
    padding: 10px;
    font-size: 1.8rem;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }

  .certificate-image {
    width: auto;
    height: 85%;
    object-fit: contain;
  }
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  z-index: -9;
  opacity: 0;
  transition: all 0.6s ease-in-out;

  &.active {
    z-index: 9;
    opacity: 1;
  }
}
.light-blur {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  z-index: -9;
  opacity: 0;
  transition: all 0.6s ease-in-out;

  &.active {
    z-index: 9;
    opacity: 1;
  }
}

.contact-me-btn {
  position: fixed;
  bottom: 3%;
  right: 2%;
  text-decoration: none;
  outline: none;
  color: $secondary_color;
  border-radius: 30px;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  padding: 15px 25px;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;

  &.active {
    display: block;
    opacity: 1;
  }
}

.contact-form {
  position: fixed;
  bottom: -50vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: $secondary_color;
  border-radius: 30px;
  padding: 20px;
  color: $primary_color;

  form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
  }

  &.active {
    bottom: 10%;
  }
}

@media (max-width: 1920px) {
  .name-title{
    top: 60vh;
    font-size: 17rem;
    font-family: 'Anton', sans-serif;
    transform: scaleY(2);
  }

  .content-container {
    padding: 200px 50px;
    padding-right: 0;
  }

  .banner-about {
    p {
      margin-top: 20px;
    }

    .banner-buttons {
      margin-top: 20px;
    }
  }
}

@media (max-width: 1550px) {
  .name-title{
    top: 60vh;
    font-size: 14rem;
    font-family: 'Anton', sans-serif;
    transform: scaleY(2);
  }

  .content-container {
    padding: 200px 50px;
    padding-right: 0;
  }

  .banner-about {
    margin-top: -80px;
    p {
      margin-top: 20px;
      font-size: 1rem;
    }

    .banner-buttons {
      margin-top: 10px;
    }
  }

  .section-container {
    margin-bottom: 200px;
  }
}

