.bg-color {
    overflow-y: scroll;
}
.aboutmeWrapper {
    display: flex;
    padding-top: 7rem;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 100px;
}
.aboutme {
    display: flex;
    flex-direction: row;
    min-height: 805px; 
    height: 100%;
    width: 100%;
    border-radius: 15px;
    margin: 0 auto;
    border: 1px solid rgb(63, 63, 63);
    padding: 25px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: rgba(40,44,52, 1);
    background: -webkit-linear-gradient(0deg,  #1a1a22 0%,  rgba(40,44,52, 1)50%);
    background: linear-gradient(0deg,  #1a1a22 0%, rgba(40,44,52, 1)50%); 
    -webkit-box-shadow: inset -1px 3px 3px 3px rgb(63, 63, 63), 2px 5px 16px 0px #0B325E, 0px 4px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 3px 3px rgb(63, 63, 63), 2px 5px 16px 0px #0B325E, 0px 4px 15px 5px rgba(0,0,0,0);
    justify-content: flex-start;
}
.aboutmeLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    min-width: 285px;
    border-radius: 10px;
    background: rgba(40,44,52, 1);
    background: -webkit-linear-gradient(0deg,  #1a1a22 0%,rgba(40,44,52, 0.8)50%,  rgba(13, 131, 131, 0.2)100%);
    background-image: linear-gradient(0deg,  #1a1a22 0%,rgba(40,44,52, 0.7)50%,rgba(40,44,52, 0.8)80%, rgba(17, 190, 190, 0.1)100%), url('../../images/resumeBg.webp'); 
    background-size:cover;
    background-position: center top;
}
.aboutmeTitle {
    justify-content: flex-start;
    align-items: left;
    text-align: left;
    color: white;
    text-shadow: 2px 2px #F10D73;
}
.aboutmeInfoName {
    align-self: left;
}
.aboutmeInfo {
    font-size: 1rem !important;
    margin-bottom: 25px;
    height: 24px;
}
.aboutmeRight {
    margin-left: 25px;
    margin-top: 25px;
    width: 100%;
}
.aboutmeTab {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.aboutmeRightBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.aboutmeDescText {
    color: lightgrey;
}
.aboutmeRightBottomSkills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.aboutmeRightBottomTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.back {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin-right: 30px;
}
.backIcon {
    fill: rgb(17, 190, 190) !important;
}
.progress {
    width: 450px;
    height: 30px;
    border-radius: 25px;
    background-color: rgba(211, 211, 211, 0.1);
    margin-bottom: 35px;
    margin-right: 35px;
    border-top: 25px;
}
.progress-done {
    display: flex;
    opacity: 1;
    height: 30px;
    width: 80%;
    border-radius: 25px;
    background: linear-gradient(360deg,#0e7e7e 0%,  #11bebe 25%,  #11bebe 75%,#0e7e7e 100%);
    color: white;
    align-items: center;
}
@media (max-width: 1030px) {
    .aboutmeWrapper {
        width: 80%;
        background-size: cover;
        background-position: left;
    }
    .aboutme {
        min-height: 1141px; 
    }
    .aboutmeLeft {
        min-width: 250px;
    }
    .aboutmeRight {
        margin-left: 0;
        padding-left: 20px;
        width: 95%;
    }
}
@media (max-width: 770px){
    .aboutme {
        flex-direction: column;
        padding: 0;
        background-image: linear-gradient(0deg,  #1a1a22 0%,rgba(40,44,52, 0.95)50%,rgba(19, 21, 24, 0.79)80%, rgba(19, 21, 24, 0.9)100%), url('../../images/resumeBg.webp'); 
        background-size:cover;
        background-position: center top;
    }
    .aboutmeLeft {
        background: none;
    }
    .aboutmeWrapper {
        margin-right: 40px;
    }
    .aboutmeInfo, .aboutmeInfoName {
        padding-left: 25px;
    }
    .aboutmeTitle {
        margin-bottom: 0;
    }
    .back {
        margin-right: 40px;
    }
}
@media (max-width: 430px){
    .aboutmeWrapper {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 100px;
        padding-top: 50px;
    }
    .MuiTimeline-root {
        padding:0 !important;
    }
    .aboutmeRight {
        width: 90%;
    }
    .aboutmeSkillsTitle {
        font-size: 26px;
    }
}
@media (max-width: 380px){
    .aboutmeInfo, .aboutmeInfoName {
        padding-left: 0px;
    }
    .aboutmeSkillsTitle {
        font-size: 23px;
    }
}
@media (max-width: 325px){
    .aboutmeSkillsTitle {
        font-size: 20px;
    }
    .progress-done {
        font-size: 12px;
    }
}