@import '../../../variables.scss';

@import '../../../variables.scss';

.experiences-section-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 100px;

  .experiences-titles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $secondary_color;

    .experience-company {
      width: 20%;
      font-weight: 200;
      font-size: 1.8rem;
    }
    .experience-title {
      width: 50%;
      font-weight: 200;
      font-size: 1.8rem;
    }
    .experience-duration {
      width: 20%;
      font-weight: 200;
      font-size: 1.8rem;
    }
    .experience-view {
      width: 10%;
      font-weight: 200;
      font-size: 1.8rem;
      text-align: center;
    }
  }

  .experiences-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;

    .experience-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      border-bottom: 1px solid $secondary_color;
      padding: 15px 0;

      .experience-company {
        width: 20%;
        font-weight: 200;
        font-size: 1.4rem;
      }
      .experience-title {
        width: 50%;
        font-weight: 200;
        font-size: 1.4rem;
      }
      .experience-duration {
        width: 20%;
        font-weight: 200;
        font-size: 1.4rem;
      }
      .experience-view {
        width: 10%;
        font-weight: 200;
        font-size: 1.4rem;
        text-align: center;
        outline: none;
        background: none;
        border: none;
        cursor: pointer;
        padding: 15px 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .section-title {
    padding-right: 0;
    h1 {
      width: 90%;
    }
  }
  .experiences-section-content {
    padding-right: 50px;
  }

  .experiences-section-content {
    .experiences-titles {
      .experience-company {
        font-size: 1.5rem;
      }
      .experience-title {
        width: 40%;
        font-size: 1.5rem;
      }
      .experience-duration {
        width: 30%;
        font-size: 1.5rem;
      }
      .experience-view {
        font-size: 1.5rem;
      }
    }

    .experiences-wrapper {
      .experience-wrapper {
        .experience-company {
          font-size: 1.2rem;
        }
        .experience-title {
          width: 40%;
          font-size: 1.2rem;
        }
        .experience-duration {
          width: 30%;
          font-size: 1.2rem;
        }
        .experience-view {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 770px) {
    .experiences-section-content {
    padding-right: 0;
  }

  .experiences-section-content {
    .experiences-titles {
      .experience-company {
        width: 25%;
        font-size: 1rem;
        font-weight: 400;
      }
      .experience-title {
        width: 40%;
        font-size: 1rem;
        font-weight: 400;
      }
      .experience-duration {
        width: 20%;
        font-size: 1rem;
        font-weight: 400;
      }
      .experience-view {
        width: 10%;
        font-size: 1rem;
        font-weight: 400;
      }
    }

    .experiences-wrapper {
      .experience-wrapper {
        .experience-company {
          width: 25%;
          font-size: 1rem;
          font-weight: 400;
        }
        .experience-title {
          width: 40%;
          font-size: 1rem;
          font-weight: 400;
        }
        .experience-duration {
          width: 20%;
          font-size: 1rem;
          font-weight: 400;
        }
        .experience-view {
          width: 10%;
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
  }
}

@media (max-width: 426px) {
    .experiences-section-content {
    padding-right: 0;
  }

  .experiences-section-content {
    .experiences-titles {
      .experience-company {
        width: 25%;
        font-size: 0.65rem;
        font-weight: 400;
      }
      .experience-title {
        width: 40%;
        font-size: 0.65rem;
        font-weight: 400;
      }
      .experience-duration {
        width: 20%;
        font-size: 0.65rem;
        font-weight: 400;
      }
      .experience-view {
        width: 10%;
        font-size: 0.65rem;
        font-weight: 400;
      }
    }

    .experiences-wrapper {
      .experience-wrapper {
        .experience-company {
          width: 25%;
          font-size: 0.7rem;
          font-weight: 400;
        }
        .experience-title {
          width: 40%;
          font-size: 0.7rem;
          font-weight: 400;
        }
        .experience-duration {
          width: 20%;
          font-size: 0.7rem;
          font-weight: 400;
        }
        .experience-view {
          width: 10%;
          font-size: 0.7rem;
          font-weight: 600;
        }
      }
    }
  }
}

