<div class="section-container" id="experience">
  <div class="section-left">
    <h2>{{strings.experience}}</h2>
  </div>

  <div class="section-right">
    <div class="experiences-section-wrapper">
      <div class="section-title">
        <h1 [innerHTML]="strings.experienceSectionTitle"></h1>
      </div>
      <div class="experiences-section-content">
        <div class="experiences-titles">
          <h1 class="experience-company">{{strings.experienceCompany}}</h1>
          <h1 class="experience-title">{{strings.experienceTitle}}</h1>
          <h1 class="experience-duration">{{strings.experienceDuration}}</h1>
          <h1 class="experience-view"></h1>
        </div>
        <div class="experiences-wrapper" *ngFor="let experience of strings.language == 'en' ? experiences.en : experiences.ba; trackBy: trackByFn">
          <div class="experience-wrapper">
            <h1 class="experience-company">{{experience.company}}</h1>
            <h1 class="experience-title">{{experience.title}}</h1>
            <h1 class="experience-duration">{{experience.from + " - " + experience.to}}</h1>
            <button type="button" class="experience-view" (click)="viewExperience(experience)">{{strings.experienceView}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

